* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
}

.wrapper {
    height: 60vh;
    margin: 15vh auto 0;
    width: 60vw;
}
.slider {
    background-color: #ddd;
    height: inherit;
    overflow: hidden;
    width: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
    display: none;
}

.slides {
    height: inherit;
    width: inherit;
    background-size: cover;
}

.slide1 {
    background-image: url(http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg);
}

.slide2 {
    background-image: url(http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg);
}

.slide3 {
    background-image: url(http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg);
}

.slide4 {
    background-image: url(http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg);
}

.slide5 {
    background-image: url(http://habrastorage.org/files/53c/ff6/c1c/53cff6c1caf842368c70b8ef892d8402.jpg);
}

.wrapper .controls {
   display: flex;
   justify-content: flex-end;
}

.wrapper label {
    cursor: pointer;
}

.wrapper label span{
    cursor: pointer;
    display: block;
    border: 0.2rem solid #ddd;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}


.wrapper label:hover span,
#slide1:checked ~ .controls-block .controls label:nth-of-type(1) span,
#slide2:checked ~ .controls-block .controls label:nth-of-type(2) span,
#slide3:checked ~ .controls-block .controls label:nth-of-type(3) span,
#slide4:checked ~ .controls-block .controls label:nth-of-type(4) span,
#slide5:checked ~ .controls-block .controls label:nth-of-type(5) span {
    background: #aaa;
}

.slides {
    height: inherit;
    display: none;
    width: inherit;
    transform: translateX(-150%);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.descriptions {
    display: none;
    transform: translateX(-150%);
    font-size: 2.4rem;
    color: darkgrey;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    display: block;
    animation: ani 0.5s ease-in-out forwards;
}


@keyframes ani {
  0% {transform: translateX(-150%);}
  15% {transform: translateX(5%);}
  30% {transform: translateX(-5%);}
  45% {transform: translateX(3%);}
  60% {transform: translateX(-3%);}
  75% {transform: translateX(1%);}
  85% {transform: translateX(-1%);}
  100% {transform: translateX(0);}
}

#slide1:checked ~ .controls-block .description > .description1,
#slide2:checked ~ .controls-block .description > .description2,
#slide3:checked ~ .controls-block .description > .description3,
#slide4:checked ~ .controls-block .description > .description4,
#slide5:checked ~ .controls-block .description > .description5 {
    display: block;
    animation: ani 0.5s ease-in-out forwards;
}

.controls-block {
    display: flex;
    justify-content: space-between;
}
.description {
    display: flex;
    justify-content: center;
}